@import "tailwindcss";

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

.animate-shine {
  animation: shine 2.5s linear infinite;
}

@keyframes move-slow {
  0% {
    transform: translateX(0%) translateY(0%);
  }
  50% {
    transform: translateX(25%) translateY(-10%);
  }
  100% {
    transform: translateX(0%) translateY(0%);
  }
}

.animate-move-slow {
  animation: move-slow 8s ease-in-out infinite;
}
